
<div ng-controller="ActivitiesController">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                ADMIN 1 ACTIVITIES
            </h1>
        </section>
        <!-- Main content -->
        <section class="content" id="main">

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Activities</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Performed By</th>
                                        <th>Phone No</th>
                                        <th>Action</th>
                                        <th>Performed On</th>
                                        <th>Date</th>

                                    </tr>

                                    <tr ng-repeat="activity in activities">
                                        <td>{{$index + 1}}</td>
                                        <td>{{activity.performedBy}}</td>
                                        <td>{{activity.phoneNumber}}</td>
                                        <td>
                                            {{activity.activity}}
                                        </td>
                                        <td>{{activity.performedOn}}</td>
                                        <td>{{activity.createdDate| date:'medium'}}</td>
                                    </tr>

                                </tbody>
                            </table>

                            <nav>
                                <ul class="pager">
                                    <li class="previous">
                                        <a ng-href
                                           ng-click="previous()"
                                           class="waves-effect">
                                            <span aria-hidden="true">&larr;</span> 
                                            PREVIOUS
                                        </a>
                                    </li>
                                    <li class="next">
                                        <a ng-href
                                           ng-click="next()"
                                           class="waves-effect">
                                            NEXT 
                                            <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->


                </div>

            </div>









        </section>
        <!-- /.content -->
    </div>

    <!-- Update Details modal -->

    <div class="example-modal">
        <div id="asignRoleModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" style="border-radius: 6px; margin-top: 100px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Asign Role</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="">
                            <input name="_token" type="hidden" value="sCZPYfPJIY0DqHmEYO5QwVfxkFG4zxSnNMtClUoX"> 

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Admin 1 Roles
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Admin 2 Roles
                                    </label>
                                </div>
                            </div> 






                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" tabindex="4">Close</button>
                                <button type="submit" class="btn btn-primary" tabindex="3">Asign Role</button>
                            </div>
                        </form>            
                    </div>
                </div>
            </div>
        </div>
        <!-- End Update Details modal-->  


        <!-- Debit (withdrawal) modal -->

        <div class="example-modal">
            <div id="DebitUserModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="border-radius: 6px; margin-top: 100px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Debit Contributor</h4>
                        </div>
                        <div class="modal-body">
                            <h3><strong>Name:</strong>Dongoyaro chukwuma</h3>
                            <h3><strong>IPPIS NO:</strong>6579057</h3>
                            <form method="POST" action="">

                                <div class="form-group">
                                    <label for="MonthlyCont">Withdrawal</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">&#8358;</span>
                                        <input class="form-control" type="number">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" tabindex="4">Close</button>
                            <button type="submit" class="btn btn-primary" tabindex="3">Debit User</button>
                        </div>
                        </form>            
                    </div>
                </div>
            </div>
        </div>
        <!-- End Debit (withdrawal) modal-->  

        <!-- credit (special contribution) modal -->

        <div class="example-modal">
            <div id="CreditUserModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="border-radius: 6px; margin-top: 100px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Special Contributor </h4>
                        </div>
                        <div class="modal-body">
                            <h3><strong>Name:</strong>Dongoyaro chukwuma</h3>
                            <h3><strong>IPPIS NO:</strong>6579057</h3>
                            <form method="POST" action="">

                                <div class="form-group">
                                    <label for="MonthlyCont">Special contribution Amount</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">&#8358;</span>
                                        <input class="form-control" type="number">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" tabindex="4">Close</button>
                            <button type="submit" class="btn btn-primary" tabindex="3">Credit User</button>
                        </div>
                        </form>            
                    </div>
                </div>
            </div>
        </div>
        <!-- End credit (special contribution) modal-->  

    </div>
</div>
