
<div ng-controller="AllActivitiesController">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                ALL ACTIVITIES
            </h1>
        </section>
        <!-- Main content -->
        <section class="content" id="main">

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Activities</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Performed By</th>
                                        <th>Phone No</th>
                                        <th>Action</th>
                                        <th>Performed On</th>
                                        <th>Date</th>
                                        <th>Role</th>

                                    </tr>

                                    <tr ng-repeat="activity in activities">
                                        <td>{{$index + 1}}</td>
                                        <td>{{activity.performedBy}}</td>
                                        <td>{{activity.phoneNumber}}</td>
                                        <td>
                                            {{activity.activity}}
                                        </td>
                                        <td>{{activity.performedOn}}</td>
                                        <td>{{activity.createdDate| date:'medium'}}</td>
                                        <td>{{activity.role}}</td>
                                    </tr>

                                </tbody>
                            </table>

                            <nav>
                                <ul class="pager">
                                    <li class="previous">
                                        <a ng-href
                                           ng-click="previous()"
                                           class="waves-effect">
                                            <span aria-hidden="true">&larr;</span> 
                                            PREVIOUS
                                        </a>
                                    </li>
                                    <li class="next">
                                        <a ng-href
                                           ng-click="next()"
                                           class="waves-effect">
                                            NEXT 
                                            <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>

</div>
