
<div ng-controller="AllLoansController">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Manage Loans Approvals
            </h1>
        </section>
        <!-- Main content -->
        <section class="content" id="main">

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Loans Awaiting Approval</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Name</th>
                                        <th>IPPIS</th>
                                        <th>Amount</th>
                                        <th>Paid</th>
                                        <th>Status</th>
                                        <th>Type</th>
                                        <th>Approval</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr ng-repeat="loan in loans">
                                        <td>{{$index + 1}}</td>
                                        <td>{{loan.user.name}}</td>
                                        <td>{{loan.user.ippisNumber}}</td>
                                        <td>{{loan.amount| currency:'₦ '}}</td>
                                        <td>{{loan.paid| currency:'₦ '}}</td>
                                        <td>{{loan.status}}</td>
                                        <td>{{loan.type}}</td>
                                        <td>{{loan.approval}}</td>
                                        <td>{{loan.createdDate| date:'medium'}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" 
                                                        class="btn btn-success">
                                                    Actions
                                                </button>
                                                <button type="button" 
                                                        class="btn btn-success 
                                                        dropdown-toggle" 
                                                        data-toggle="dropdown" 
                                                        aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">
                                                        Toggle Dropdown
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li> 
                                                        <a ng-href 
                                                           ng-click=
                                                           "approve(loan.id)">
                                                            APPROVE
                                                        </a>
                                                    </li>
                                                    <li > 
                                                        <a ng-href=""
                                                           ng-click="decline(loan.id)"
                                                           >
                                                            DECLINE
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <nav>
                                <ul class="pager">
                                    <li class="previous">
                                        <a ng-href
                                           ng-click="previous()"
                                           class="waves-effect">
                                            <span aria-hidden="true">&larr;</span> 
                                            PREVIOUS
                                        </a>
                                    </li>
                                    <li class="next">
                                        <a ng-href
                                           ng-click="next()"
                                           class="waves-effect">
                                            NEXT 
                                            <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->


                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
</div>
