<div id="NewContributorModal" class="modal" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius: 6px; margin-top: 100px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                        aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" style="text-align: center">NEW CONTRIBUTOR</h4>
            </div>
            <form>
                <div class="modal-body">
                    <input name="_token" type="hidden" 
                           value="sCZPYfPJIY0DqHmEYO5QwVfxkFG4zxSnNMtClUoX"> 

                    <div class="form-group">
                        <label for="ippis">IPPIS No</label>
                        <input type="text" class="form-control" name="ippis" 
                               tabindex="1" placeholder="" required
                               ng-model="user.ippis">
                    </div>  
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" 
                               tabindex="1" placeholder="" required 
                               ng-model="firstname">
                    </div>  
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="LastName" 
                               tabindex="1" placeholder="" required 
                               ng-model="lastname">
                    </div> 
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" name="email" 
                               tabindex="1" placeholder="" required ng-model="user.email">
                    </div> 
                    <div class="form-group">
                        <label for="phoneNumber">Phone number</label>
                        <input type="text" class="form-control" name="phoneNumber" 
                               tabindex="1" placeholder="" required ng-model="user.phone">
                    </div> 
                    <div class="form-group">
                        <label for="MonthlyCont">Monthly Contribution</label>
                        <div class="input-group">
                            <span class="input-group-addon">&#8358;</span>
                            <input class="form-control" type="number" ng-model="user.amount">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" 
                            data-dismiss="modal" tabindex="4">
                        CLOSE
                    </button>
                    <button type="button" ng-click="createContributor()" 
                            class="btn btn-primary" tabindex="3">
                        CREATE
                    </button>
                </div>
            </form>            
        </div>
    </div>
</div>
