
<div ng-controller="ContributorsController">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Manage Contributors
            </h1>
        </section>
        <!-- Main content -->
        <section class="content" id="main">

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Contributors</h3>

                            <div class="row pull-right">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </div>

                                            <input type="text" 
                                                   class="form-control ng-pristine ng-valid 
                                                   ng-touched" 
                                                   placeholder=
                                                   "Search using IPPIS | email | phone" 
                                                   ng-model="search">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-primary" 
                                       ng-href ng-click="searchContributors()">
                                        <i class="fa fa-search"></i> 
                                        Search
                                    </a>
                                    <a ng-show="isAdmin1()" class="btn btn-primary" 
                                       ng-href ng-click="showNewContributorModal()">
                                        <i class="fa fa-plus-circle"></i> 
                                        NEW CONTRIBUTOR
                                    </a>

                                </div>
                                <div class="col-md-2">
                                        <select class="selectpicker form-control" 
                                                id="select" ng-model="month">
                                            <option value="January">JANUARY</option>
                                            <option value="February">FEBRUARY</option>
                                            <option value="March">MARCH</option>
                                            <option value="April">APRIL</option>
                                            <option value="May">MAY</option>
                                            <option value="June">JUNE</option>
                                            <option value="July">JULY</option>
                                            <option value="August">AUGUST</option>
                                            <option value="September">SEPTEMBER</option>
                                            <option value="October">OCTOBER</option>
                                            <option value="November">NOVEMBER</option>
                                            <option value="December">DECEMBER</option>
                                        </select>   
                                </div>
                                <div class="col-md-2">
                                    <a  class="btn btn-primary" 
                                        ng-href ng-click="downloadContributors(month)">
                                        <i class="fa fa-angle-down"></i> 
                                        Download
                                    </a>  
                                </div>
                            </div>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>S/N</th>
                                        <th>IPPIS Number</th>
                                        <th>Name</th>
                                        <th>Monthly Savings</th>
                                        <th>Phone Number</th>
                                        <th>Email Address</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>

                                    <tr ng-repeat="contributor in contributors">
                                        <td>{{$index + 1}}</td>
                                        <td>{{contributor.ippisNumber}}</td>
                                        <td>{{contributor.name}}</td>
                                        <td>
                                            {{contributor.contributionAmount| currency:'₦ '}}
                                        </td>
                                        <td>{{contributor.phoneNumber}}</td>
                                        <td>{{contributor.email}}</td>
                                        <td>{{contributor.role}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" 
                                                        class="btn btn-success">
                                                    Actions
                                                </button>
                                                <button type="button" 
                                                        class="btn btn-success 
                                                        dropdown-toggle" 
                                                        data-toggle="dropdown" 
                                                        aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">
                                                        Toggle Dropdown
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li ng-show="isAdmin1()"> 
                                                        <a ng-href 
                                                           ng-click=
                                                           "viewDetail(contributor
                                                                       .ippisNumber)">
                                                            VIEW(Profile)
                                                        </a>
                                                    </li>
                                                    <li ng-show="isAdmin1()"> 
                                                        <a ng-href=""
                                                           ng-click="updateDetail(
                                                                       contributor
                                                                       .ippisNumber)"
                                                           >
                                                            UPDATE
                                                        </a>
                                                    </li>
                                                    <li ng-show="isAdmin1()">
                                                        <a ng-href
                                                           ng-href="" 
                                                           ng-click="showDebitModal(
                                                                       contributor
                                                                       .name, contributor
                                                                       .ippisNumber)"
                                                           >
                                                            DEBIT(Withdrawal)
                                                        </a></li>
                                                    <li ng-show="isAdmin1()">
                                                        <a  ng-href="" 
                                                            ng-click="showCreditModal(contributor
                                                                        .name, contributor
                                                                        .ippisNumber)">
                                                            CREDIT(Special Savings)
                                                        </a>
                                                    </li>
                                                    <li ng-show="isAdmin1()">
                                                        <a  ng-href="" 
                                                            ng-click="showLoanModal(contributor
                                                                        .name, contributor
                                                                        .ippisNumber)">
                                                            LOAN
                                                        </a>
                                                    </li>
                                                    <li ng-show="isAdmin1()">
                                                        <a 
                                                            ng-href="" 
                                                            ng-click="showDeleteModal(contributor
                                                                        .name, contributor
                                                                        .ippisNumber)">
                                                            DELETE
                                                        </a>
                                                    </li>
                                                    <li ng-show="isAdmin2()">
                                                        <a ng-href="" 
                                                           ng-click=
                                                           "showRoleModal(contributor
                                                                       .name, contributor
                                                                       .ippisNumber)"
                                                           >
                                                            ASSIGN ROLE
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <nav>
                                <ul class="pager">
                                    <li class="previous">
                                        <a ng-href
                                           ng-click="previous()"
                                           class="waves-effect">
                                            <span aria-hidden="true">&larr;</span> 
                                            PREVIOUS
                                        </a>
                                    </li>
                                    <li class="next">
                                        <a ng-href
                                           ng-click="next()"
                                           class="waves-effect">
                                            NEXT 
                                            <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->


                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>

    <!-- Update Details modal -->
    <div class="example-modal">
        <div id="role-modal" 
             class="modal" tabindex="-1" role="dialog" 
             aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" 
                     style="border-radius: 6px; margin-top: 100px;">
                    <div class="modal-header">
                        <button type="button" class="close" 
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Asign Role</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="">
                            <input name="_token" 
                                   type="hidden" value="sCZPYfPJIY0DqHmEYO5QwVfxkFG4zxSnNMtClUoX"> 

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Admin 1 Roles
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Admin 2 Roles
                                    </label>
                                </div>
                            </div> 

                            <div class="modal-footer">
                                <button type="button" 
                                        class="btn btn-default pull-left" 
                                        data-dismiss="modal" tabindex="4">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary" 
                                        tabindex="3">Asign Role
                                </button>
                            </div>
                        </form>            
                    </div>
                </div>
            </div>
        </div>
        <!-- End Update Details modal-->  


        <!-- Debit (withdrawal) modal -->
        <div class="example-modal">
            <div id="debit-modal" 
                 class="modal" tabindex="-1" role="dialog" 
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" 
                         style="border-radius: 6px; margin-top: 100px;">
                        <div class="modal-header">
                            <button type="button" 
                                    class="close" data-dismiss="modal" 
                                    aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Debit Contributor</h4>
                        </div>
                        <div class="modal-body">
                            <h3>
                                <strong>Name:</strong>
                                Dongoyaro chukwuma
                            </h3>
                            <h3><strong>IPPIS NO:</strong>6579057</h3>
                            <form method="POST" action="">

                                <div class="form-group">
                                    <label for="MonthlyCont">Withdrawal</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">&#8358;</span>
                                        <input class="form-control" type="number">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" 
                                    data-dismiss="modal" tabindex="4">Close</button>
                            <button type="submit" class="btn btn-primary" 
                                    tabindex="3">Debit User</button>
                        </div>
                        </form>            
                    </div>
                </div>
            </div>
        </div>
        <!-- End Debit (withdrawal) modal-->  

        <!-- credit (special contribution) modal -->
        <div class="example-modal">
            <div id="credit-modal" class="modal" tabindex="-1" role="dialog" 
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" 
                         style="border-radius: 6px; margin-top: 100px;">
                        <div class="modal-header">
                            <button type="button" class="close" 
                                    data-dismiss="modal" 
                                    aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Special Contributor </h4>
                        </div>
                        <div class="modal-body">
                            <h3><strong>Name:</strong>Dongoyaro chukwuma</h3>
                            <h3><strong>IPPIS NO:</strong>6579057</h3>
                            <form method="POST" action="">

                                <div class="form-group">
                                    <label for="MonthlyCont">
                                        Special contribution Amount
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">&#8358;</span>
                                        <input class="form-control" type="number">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" 
                                    class="btn btn-default pull-left" 
                                    data-dismiss="modal" tabindex="4">
                                Close
                            </button>
                            <button type="submit" 
                                    class="btn btn-primary" tabindex="3">
                                Credit User
                            </button>
                        </div>
                        </form>            
                    </div>
                </div>
            </div>
        </div>
        <!-- End credit (special contribution) modal-->  

    </div>
</div>
