<div id="credit-modal" class="modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" 
             style="border-radius: 6px; margin-top: 100px;">
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal" 
                        aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" style="text-align: center">SPECIAL CONTRIBUTION</h4>
            </div>
            <form>
                <div class="modal-body">
                    <h3><strong>Name:</strong>{{name}}</h3>
                    <h3><strong>IPPIS NO:</strong>{{user.name}}</h3>
                    <div class="form-group">
                        <label for="MonthlyCont">
                            Special contribution Amount
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">&#8358;</span>
                            <input class="form-control" type="number" ng-model="user.amount">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-default pull-left" 
                            data-dismiss="modal" tabindex="4">
                        CLOSE
                    </button>
                    <button type="button" 
                            class="btn btn-primary" tabindex="3"
                            ng-click="savings()">
                        CREDIT USER
                    </button>
                </div>
            </form>            
        </div>
    </div>
</div>