<div class="content-wrapper" ng-controller="DashboardController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <h1> Savings Dashboard</h1>

    </section>
    <div class="row">
        <div class="col-md-6" style="">
            <h1 class="ml20 text-green fw-bold">
                {{profile.name}}
                <small class="fs-small">
                    <strong>(IPPIS:</strong> &nbsp;{{profile.ippisNumber}})
                </small>
            </h1>
        </div>
        <div class="col-md-6" style="">
            <div class="form-group">
                <label>Filter summary by year :</label>

                <div class="input-group">
                    <p class="input-group">
                        <input type="text" class="form-control" 
                               uib-datepicker-popup="yyyy" 
                               ng-model="dashboardYear" is-open="popup.opened" 
                               datepicker-options="dateOptions"
                               ng-required="true" 
                               close-text="Close"
                               ng-change="onYearSelected()"
                               />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" 
                                    ng-click="open()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content" id="main">

        <div class="row">
            <div class="col-lg-3 col-xs-5">
                <!-- small box -->
                <div class="small-box bg-light-blue">
                    <div class="inner">
                        <h3>
                            <font size="6">
                            {{summary[0].balanceBefore| currency:'₦ '}}
                            </font>
                        </h3>

                        <p>Balance Before</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a class="small-box-footer">
                        &nbsp;
                        <!--<i class="fa fa-arrow-circle-right"></i>-->
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-5">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            <font size="6">
                            {{summary[0].balanceBefore + summary[1]| currency:'₦ '}}
                            </font>
                            <sup style="font-size: 20px">
                            </sup>
                        </h3>

                        <p>Total Savings</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a ng-href class="small-box-footer">
                        &nbsp;
                        <!--<i class="fa fa-arrow-circle-right"></i>-->
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-5">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            <font size="6">
                            {{summary[2]| currency:'₦ '}}
                            </font>
                        </h3>

                        <p>Total Withdrawal </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a class="small-box-footer">
                        &nbsp;
                        <!--<i class="fa fa-arrow-circle-right"></i>-->
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-5">
                <!-- small box -->
                <div class="small-box bg-olive">
                    <div class="inner">
                        <h3>
                            <font size="6">
                            {{(((summary[0].balanceBefore) + summary[1]) - summary[2])
                                        | currency:'₦ '}}
                            </font>
                        </h3>
                        <p>Current Balance</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a class="small-box-footer">
                        &nbsp;
                        <!--<i class="fa fa-arrow-circle-right"></i>-->
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-xs-5">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            <font size="6">
                            {{summary[0].totalLoan| currency:'₦ '}}
                            </font>
                        </h3>

                        <p>Total Loan</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a class="small-box-footer">
                        &nbsp;
                        <!--<i class="fa fa-arrow-circle-right"></i>-->
                    </a>
                </div>
            </div>
            <!-- ./col -->
                        <!-- ./col -->
            <div class="col-lg-3 col-xs-5">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>
                            <font size="6">
                            {{summary[0].paidLoan| currency:'₦ '}}
                            </font>
                        </h3>

                        <p>Total Repaid Loan</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a class="small-box-footer">
                        &nbsp;
                        <!--<i class="fa fa-arrow-circle-right"></i>-->
                    </a>
                </div>
            </div>
            <!-- ./col -->
                        <!-- ./col -->
            <div class="col-lg-3 col-xs-5">
                <!-- small box -->
                <div class="small-box bg-gray-light">
                    <div class="inner">
                        <h3>
                            <font size="6">
                            {{summary[0].unclearedLoan| currency:'₦ '}}
                            </font>
                        </h3>

                        <p>Total Outstanding Loan</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a class="small-box-footer">
                        &nbsp;
                        <!--<i class="fa fa-arrow-circle-right"></i>-->
                    </a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <div class="row">
            <!-- Left col -->

            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Monthly Savings</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">Month</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>Remarks</th>
                                    <th>Date</th>
                                    <th>Balance</th>
                                </tr>
                                <tr ng-repeat="saving in savings">
                                    <td>{{saving.createdDate| date:'MMMM'}}</td>
                                    <td>
                                        <span class="badge bg-green">
                                            {{saving.amount|currency:'₦ '}}
                                        </span>
                                    </td>
                                    <td>
                                        {{saving.type}}
                                    </td>
                                    <td>
                                        {{saving.remarks}}
                                    </td>
                                    <td>
                                        {{saving.createdDate| date}}
                                    </td>
                                    <td>{{saving.balance| currency:'₦ '}}</td>
                                </tr>

                            </tbody></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Monthly Withdrawals</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">Month</th>
                                    <th>Amount</th>
                                    <th>Remarks</th>
                                    <th>Date</th>
                                    <!--<th>Balance</th>-->
                                </tr>
                                <tr ng-repeat="withdrawal in withdrawals">
                                    <td>{{withdrawal.createdDate| date:'MMMM'}}</td>
                                    <td>
                                        <span class="badge bg-green">
                                            {{withdrawal.amount| currency:'₦ '}}
                                        </span>
                                    </td>
                                    <td>
                                        {{withdrawal.remarks}}
                                    </td>
                                    <td>
                                        {{withdrawal.createdDate| date}}
                                    </td>
                                </tr>

                            </tbody></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
