<div id="role-modal" 
     class="modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" 
             style="border-radius: 6px; margin-top: 100px;">
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" style="text-align: center">DELETE CONTRIBUTOR</h4>
            </div>
            <div class="modal-body">
                <form>
                    <p>Are you sure you want to delete <b>{{name}}</b> with ippis 
                        <b>{{ippis}} </b>
                        from contributor's list ?</p>

                    <h4>NB: This action cannot be reversed.</h4>

                    <div class="modal-footer">
                        <button type="button" 
                                class="btn btn-default pull-left" 
                                data-dismiss="modal" tabindex="4">
                            CLOSE
                        </button>
                        <button type="button" class="btn btn-primary" 
                                tabindex="3" ng-click="deleteContributor()">
                            DELETE
                        </button>
                    </div>
                </form>            
            </div>
        </div>
    </div>
</div>
