
<div ng-controller="RegularLoansController">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Manage Loans
            </h1>
        </section>
        <!-- Main content -->
        <section class="content" id="main">

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Regular Loans</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Amount</th>
                                        <th>Repayment</th>
                                        <th>Paid</th>
                                        <th>Outstanding</th>
                                        <th>Status</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                    </tr>
                                    <tr ng-repeat="loan in loans" ng-click="showDeductions(loan)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{loan.amount| currency:'₦ '}}</td>
                                        <td>{{loan.repayment| currency:'₦ '}}</td>
                                        <td>{{loan.paid| currency:'₦ '}}</td>
                                        <td>{{loan.amount - loan.paid| currency:'₦ '}}</td>
                                        <td>{{loan.status}}</td>
                                        <td>{{loan.type}}</td>
                                        <td>{{loan.createdDate| date:'medium'}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <nav>
                                <ul class="pager">
                                    <li class="previous">
                                        <a ng-href
                                           ng-click="previous()"
                                           class="waves-effect">
                                            <span aria-hidden="true">&larr;</span> 
                                            PREVIOUS
                                        </a>
                                    </li>
                                    <li class="next">
                                        <a ng-href
                                           ng-click="next()"
                                           class="waves-effect">
                                            NEXT 
                                            <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Loan Repayment History {{loan_amount | currency:'₦'}}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Amount</th>
                                        <th>Outstanding Balance</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                    <tr ng-repeat="repayment in repayments">
                                        <td>{{$index + 1}}</td>
                                        <td>{{repayment.amount| currency:'₦ '}}</td>
                                        <td>{{repayment.balance| currency:'₦ '}}</td>
                                        <td>{{repayment.loan.status}}</td>
                                        <td>{{repayment.date| date:'medium'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
