
<div ng-controller="ProfileController">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                CONTRIBUTOR'S DETAIL
            </h1>
        </section>
        <!-- Main content -->
        <section class="content" id="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Details</h3>

                            <!--Begin Profile-->
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="name" 
                                               class="col-sm-2 control-label">Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="name" 
                                                   placeholder="Name"
                                                   ng-model="profile.name"
                                                   ng-readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ippis" 
                                               class="col-sm-2 control-label">Ippis No</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="ippis" 
                                                   placeholder="Ippis"
                                                   ng-model="profile.ippisNumber"
                                                   ng-readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount" 
                                               class="col-sm-2 control-label">Amount</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="amount" 
                                                   placeholder="Amount"
                                                   ng-model="profile.contributionAmount"
                                                   ng-readonly="true"
                                                   format-currency>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" 
                                               class="col-sm-2 control-label">Phone No</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="phone" 
                                                   placeholder="Phone"
                                                   ng-model="profile.phoneNumber"
                                                   ng-readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" 
                                               class="col-sm-2 control-label">Email</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="email" 
                                                   placeholder="Email"
                                                   ng-model="profile.email"
                                                   ng-readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="role" 
                                               class="col-sm-2 control-label">Role</label>

                                        <div class="col-sm-10" >
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="role" 
                                                   placeholder="Role"
                                                   ng-model="profile.role"
                                                   ng-readonly="true">
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!--End Profile-->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
        <!-- Main content -->
        <section class="content" id="main">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Savings</h3>

                            <!--Begin Profile-->
                            <table class="table table-bordered" ng-controller="UserSavingsController">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">Month</th>
                                        <th>Amount</th>
                                        <th>Type</th>
                                        <th>Remarks</th>
                                        <th>Date</th>
                                        <th>Balance</th>
                                    </tr>
                                    <tr ng-repeat="saving in savings">
                                        <td>{{saving.createdDate| date:'MMMM'}}</td>
                                        <td>
                                            <span class="badge bg-green">
                                                {{saving.amount|currency:'₦ '}}
                                            </span>
                                        </td>
                                        <td>
                                            {{saving.type}}
                                        </td>
                                        <td>
                                            {{saving.remarks}}
                                        </td>
                                        <td>
                                            {{saving.createdDate| date}}
                                        </td>
                                        <td>
                                            {{saving.balance| currency:'₦ '}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <!--End Profile-->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Withdrawls</h3>

                            <!--Begin Profile-->
                            <table class="table table-bordered" ng-controller="UserWithdrawalController">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">Month</th>
                                        <th>Amount</th>
                                        <th>Remarks</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Balance</th>
                                    </tr>
                                    <tr ng-repeat="withdrawal in withdrawals">
                                        <td>{{withdrawal.createdDate| date:'MMMM'}}</td>
                                        <td>
                                            <span class="badge bg-green">
                                                {{withdrawal.amount| currency:'₦ '}}
                                            </span>
                                        </td>
                                        <td>
                                            {{withdrawal.remarks}}
                                        </td>
                                        <td>
                                            {{withdrawal.status}}
                                        </td>
                                        <td>
                                            {{withdrawal.createdDate| date}}
                                        </td>
                                        <td>
                                            {{withdrawal.balance| currency:'₦ '}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <!--End Profile-->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
                <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Loans</h3>
                        </div>
                        <!--Begin Profile-->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Amount</th>
                                        <th>Repayment</th>
                                        <th>Paid</th>
                                        <th>Outstanding</th>
                                        <th>Status</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr ng-repeat="loan in loans">
                                        <td>{{$index + 1}}</td>
                                        <td>{{loan.amount| currency:'₦ '}}</td>
                                        <td>{{loan.repayment| currency:'₦ '}}</td>
                                        <td>{{loan.paid| currency:'₦ '}}</td>
                                        <td>{{loan.amount - loan.paid| currency:'₦ '}}</td>
                                        <td>{{loan.status}}</td>
                                        <td>{{loan.type}}</td>
                                        <td>{{loan.createdDate| date:'medium'}}</td>
                                            <td>
                                            <div class="btn-group">
                                                <button type="button" 
                                                        class="btn btn-success">
                                                    Actions
                                                </button>
                                                <button type="button" 
                                                        class="btn btn-success 
                                                        dropdown-toggle" 
                                                        data-toggle="dropdown" 
                                                        aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">
                                                        Toggle Dropdown
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">  
                                                    <li> 
                                                        <a ng-href=""
                                                           ng-click="showLoanModal(loan.user.name, loan.user.ippisNumber,loan.id)">
                                                            UPDATE
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--End Profile-->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
</div>
