
<div ng-controller="UpdateController">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                UPDATE CONTRIBUTOR'S DETAIL
            </h1>
        </section>
        <!-- Main content -->
        <section class="content" id="main">

            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title mb20">Details</h3>

                            <!--Begin Profile-->
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="name" 
                                               class="col-sm-2 control-label">Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="name" 
                                                   placeholder="Name"
                                                   ng-model="user.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ippis" 
                                               class="col-sm-2 control-label">Ippis No</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="ippis" 
                                                   placeholder="Ippis"
                                                   ng-model="user.ippis"
                                                   ng-readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount" 
                                               class="col-sm-2 control-label">Amount</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="amount" 
                                                   placeholder="Amount"
                                                   ng-model="user.amount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" 
                                               class="col-sm-2 control-label">Phone No</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="phone" 
                                                   placeholder="Phone"
                                                   ng-model="user.phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" 
                                               class="col-sm-2 control-label">Email</label>

                                        <div class="col-sm-10">
                                            <input type="text" 
                                                   class="form-control" 
                                                   id="email" 
                                                   placeholder="Email"
                                                   ng-model="user.email">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button class="btn btn-info pull-right"
                                            ng-click="updateInfo()">
                                        Update
                                    </button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!--End Profile-->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
