<div id="credit-modal" class="modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" 
             style="border-radius: 6px; margin-top: 100px;">
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal" 
                        aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" style="text-align: center">UPDATE LOAN REPAYMENT</h4>
            </div>
            <form>
                <div class="modal-body">
                    <h3><strong>Name:</strong>{{name}}</h3>
                    <h3><strong>IPPIS NO:</strong>{{ippis}}</h3>
                    <div class="form-group">
                        <label for="repayment">
                            Monthly Repayment:
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">&#8358;</span>
                            <input class="form-control" name="amount" type="number" 
                                   ng-model="user.repayment">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-default pull-left" 
                            data-dismiss="modal" tabindex="4">
                        CLOSE
                    </button>
                    <button type="button" 
                            class="btn btn-primary" tabindex="3"
                            ng-click="updateRepayment()">
                        SUBMIT
                    </button>
                </div>
            </form>            
        </div>
    </div>
</div>