<div id="role-modal" 
     class="modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" 
             style="border-radius: 6px; margin-top: 100px;">
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" style="text-align: center">ROLE PERMISSION</h4>
            </div>
            <div class="modal-body">
                <form>
                    <h4>{{name}}</h4>
                    <br/>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="ADMIN_1" 
                               ng-model="user.role">ADMIN 1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="ADMIN_2" 
                               ng-model="user.role">ADMIN 2
                    </label>

                    <div class="modal-footer">
                        <button type="button" 
                                class="btn btn-default pull-left" 
                                data-dismiss="modal" tabindex="4">
                            CLOSE
                        </button>
                        <button type="button" class="btn btn-primary" 
                                tabindex="3" ng-click="assignRole()">
                            ASIGN ROLE
                        </button>
                    </div>
                </form>            
            </div>
        </div>
    </div>
</div>
