<header class="main-header" ng-controller="HeaderController">
    <!-- Logo -->
    <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="images/ngaMark.png" width="100%"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="images/ngaLogo2.png" width="100%"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">

                </li>
            </ul>
        </div>


        <div class="nav navbar-nav pull-right pull-right "
             style="position: absolute;top: 8px;right: 10px;"> 
            <a ng-href ng-click="profile()" data-toggle="tooltip" 
               data-placement="bottom" title="" 
               data-original-title="Update your information" 
               class="btn btn-primary"> 
                <i class="fa fa-user"></i> 
                Update Profile
            </a>
            <a ng-href ng-click="logout()"
               data-toggle="tooltip" 
               data-placement="bottom" title="" 
               data-original-title="Logout"  
               class="btn btn-success"> 
                <i class="fa fa-sign-out"></i>
                Log out 
            </a>
        </div>
    </nav>
</header>
