<aside class="main-sidebar" ng-controller="SidebarController">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" id="sidebar-menu">
            <li class="header">NAVIGATION</li>
            <!-- Optionally, you can add icons to the links -->
            <li ui-sref-active="active">
                <a ui-sref="dashboard">
                    <i class="fa fa-bank"></i> 
                    <span>Dashboard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="savings">
                    <i class="fa fa-money"></i> 
                    <span>Savings</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="withdrawals">
                    <i class="fa fa-building-o"></i> 
                    <span>Withdrawals</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="loans-regular">
                    <i class="fa fa-briefcase"></i> 
                    <span>Regular Loans</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="loans-special">
                    <i class="fa fa-calculator"></i> 
                    <span>Special Loans</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="loans-commodity">
                    <i class="fa fa-bank"></i> 
                    <span>Commodity Loans</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-show="isAdmin()">
                <a href="#">
                    <i class="fa fa-gear"></i> 
                    <span>Manage Accounts</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">
                            {{profile.role}}
                        </small>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open" style="display: block;">
                    <li ng-show="isAdmin1()">
                        <a ui-sref="contributors">
                            <i class="fa fa-briefcase"></i>
                            Contributors
                        </a>
                    </li>
                    <li ng-show="isAdmin1()">
                        <a ui-sref="all-loans">
                            <i class="fa fa-briefcase"></i>
                            All Loans
                        </a>
                    </li>
                    <li ng-show="isAdmin2()">
                        <a ui-sref="contributors">
                            <i class="fa fa-user"></i>
                            Contributors
                        </a>
                    </li>
                    <li ng-show="isAdmin2()">
                        <a ui-sref="withdrawals-approval">
                            <i class="fa fa-building-o"></i>
                            Withdrawal Approval
                        </a>
                    </li>
                    <li ng-show="isAdmin2()">
                        <a ui-sref="await-loans">
                            <i class="fa fa-briefcase"></i>
                            Loan Approval
                        </a>
                    </li>
                    <li ng-show="isAdmin2()">
                        <a ui-sref="activities">
                            <i class="fa fa-expeditedssl"></i> 
                            Activities
                        </a>
                    </li>
                    <li ng-show="isAdmin3()">
                        <a ui-sref="all-activities">
                            <i class="fa fa-expeditedssl"></i> 
                            All Activities
                        </a>
                    </li>
                </ul>
            </li> 

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
